<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <Subtype>ContainerRegistry</Subtype>
    <DockerPublish>True</DockerPublish>
    <ResourceId>/subscriptions/fe2988fc-1a38-4bb0-9b89-1eb5aefdd36a/resourceGroups/publicando_dotnet/providers/Microsoft.Web/sites/api-desafio21dias</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://api-desafio21dias.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://api-desafio21dias.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$api-desafio21dias</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>